.navigation {
  width: 1200px;
  margin: auto;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  font-size: 20px;
  color: #3e2723;
}

.activeLink {
  composes: link;
  color: #f57f17;
}
